extends layout

block content
  .topnav
    h1 Soccer Zoom - A Place for Soccer Players to Meet
    button#homeButton Home
    button#NButton Neymar
    button#MSButton Salah
    button#CRButton Ronaldo
    button#LMButton Messi 
    button#QuizButton Quiz
    button#TeamButton Team
    script(src='javascripts/client.js')

  .main
    h3 Neymar Jr.
    p Club: #{Club}
    p Nationality: #{Nationality}
    p Age: #{Age} 
    p Games Played: #{Games}
    p Goals: #{Goals}
    img(src='images/Neymar.jpg' alt='Neymar' style='width:500px;height:700px;')
    br
    p Likes:
    p Dislikes:
    button#likeButton Like
    button#dislikeButton Dislike

